/*-------------Footer------------*/
.footer{
    background-color: rgb(162, 83, 236);
    text-align: center;
    padding: 9px;
    margin: 0 auto;
}

.footer__container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer__medias{
    letter-spacing: 1rem;
}