$colorBase: #2a6681;
$colorAzul: #03415e;
$tipografia: 'Jost', sans-serif;
$roboto:'Roboto', sans-serif;


$botonClasico: (
    tam: 13px,
    mayuscula: uppercase,
    borde: solid transparent,
    cursor: pointer,
    margen: 1rem,
    espaciado:1px,
    sobrepasado:visible,
    colorTexto: #f6f7f8,
    grosor: 700,
    )

